@model App.Models.Index.IndexModel
@using System.Diagnostics;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron clearfix">
    <ul>
        @foreach (Process p in Model.processes)
        {
            <li class="col-md-6 col-lg-4 col-sm-12">
                <a class="clearfix" href="/Process/@p.Id">
                    <i class="fa fa-wrench col-xs-1"></i>
                    <div class="col-xs-11" title="processid @p.Id machine @p.MachineName threads @p.Threads.Count">@p.ProcessName</div>
                </a>
            </li>
        }
    </ul>

</div>
<script>
    $(function () {
        $(document).tooltip();
    });
</script>